<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainman.modules.ists.bd.mapper.BdAssetsMapper">
	<delete id="removeByWfInstanceId" parameterType="java.lang.String">
		DELETE
		bda
        FROM
	        bd_assets bda
        WHERE EXISTS (
	    SELECT
		    1
	    FROM
		    bd_assets_wf_instance bda_wfi
	    WHERE
		    bda_wfi.bd_assets_id = bda_wfi.bd_assets_id
	    AND bda_wfi.wf_instance_id =
		#{id}
        )
    </delete>
</mapper>